#root,
.App {
    height: 100%;
    width: 100%;
}

.navHeight {
    height: 10%;
}

.circle {
    border-radius: 50%;
    margin-right: 0.5rem;
    cursor: pointer;
    border: 3px solid white;
    position: relative;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
}

.selected {
    border: 3px solid rgb(163, 163, 247);
}

.slider {
    -webkit-appearance: none;
    margin: 0 1.5rem;
    width: 80%;
    height: 4px;
    border-radius: 5px;
    background: #acacac;
    outline: none;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000000;
}

/* ********* disenabling selection ********** */

body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
